.demo-login {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 38px;
  color: #e4dded;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.mapBackground {
  position: absolute;
  top: -28px;
  left: -240px;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.demo-login-child {
  position: absolute;
  top: calc(50% - 284px);
  left: calc(50% - 245px);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  background-color: rgba(228, 221, 237, 0.02);
  border: 3.5px solid #e4dded;
  box-sizing: border-box;
  width: 489px;
  height: 569px;
}

.welcome-back {
  position: absolute;
  top: 299px;
  left: calc(50% - 157px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314px;
  height: 74px;
}

.email-input {
  position: absolute;
  top: calc(50% - 102px);
  left: calc(50% - 155px);
  border-radius: 40px;
  border: 3px solid #e4dded;
  box-sizing: border-box;
  width: 309px;
  height: 43px;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  align-content: center;
  padding: 0.5% 0.8%;
}
.password-input {
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 155px);
  border-radius: 40px;
  border: 3px solid #e4dded;
  box-sizing: border-box;
  width: 309px;
  height: 43px;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  align-content: center;
  padding: 0.5% 0.8%;
}
.lock {
  width: 30px;
  height: 30px;
  overflow: hidden;
  float: right;
}

.mail {
  width: 20px;
  height: 20px;
  float: right;
  padding: 0 5px 3px 5px;
}
.input {
  float: left;
  border: none;
  background-color: transparent;
  outline: none;
  color: #e4dded;
}

.forgot-password {
  position: absolute;
  top: 558px;
  left: 760px;
  font-size: 12px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 16px;
}

.signin-button:hover {
  background-color: #e8751a; /* Màu nền khi hover */
  transform: scale(1.03); /* Phóng to nhẹ khi hover */
}

.sign-in {
  position: absolute;
  top: 3px;
  left: calc(50% - 59.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 119px;
  height: 37px;
  box-sizing: border-box;
}
.signin-button {
  position: absolute;
  top: calc(50% + 85px);
  left: calc(50% - 157px);
  width: 309px;
  height: 43px;
  font-size: 20px;
  color: #080204;
  background-color: #e4dded;
  border-radius: 40px;
}

.dont-have-an-container1 {
  width: 100%;
}
.dont-have-account {
  position: absolute;
  top: 651px;
  left: calc(50% - 157px);
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 314px;
  height: 46px;
}
.register {
  color: #0e6cf9;
}
