.register2 {
    width: 100%;
    position: relative;
    background-color: #000000;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 38px;
    color: #e4dded;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    background: url(../icon/mapBackground.png) no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box-child {
    position: absolute;
    top: calc(50% - 264px);
    left: calc(50% - 439.2px);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    background-color: rgba(228, 221, 237, 0.02);
    border: 3.5px solid #e4dded;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.create-account {
    position: absolute;
    top: 65.88px;
    left: calc(50% - 281.13px);
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 564px;
    height: 68.7px;
}

.sign-in-child {
    position: absolute;
    border-radius: 40px;
    background-color: #e4dded;
    border: 3px solid #e4dded;
    box-sizing: border-box;
    width: 253.9px;
    height: 39.9px;
}
.signup-button {
    position: absolute;
    top: 360px;
    left: calc(50% - 175px);
    width: 350px;
    height: 55px;
    font-size: 20px;
    color: #080204;
    background-color: #e4dded;
    border-radius: 20px;
    border: none;
    transition: 400ms;
    cursor: pointer;
  }
  .signup-button:hover {
    transition: 400ms;
    color: #e4dded;
    background-color: #0031b7; /* Màu nền khi hover */
    transform: scale(1.03); /*Phóng to nhẹ khi hover*/
    border: none;
    /* font-size: 20.5px; */
}

.login {
    color: #c7ddff;
}

.already-have-an-container {
    position: absolute;
    top: 425px;
    left: 330px;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 42.7px;
}
.lock2 {
    position: absolute;
    width: 30px;
    height: 30px;
}
.input2 {
    position: absolute;
    background-color: transparent;
    width: 270px;
    height: 40px;
    outline: none;
    border: none;
    color: #e4dded;
}
.inputs1{
    position:absolute;
    top: 130px;
    /* left: calc(50% - 245.13px); */
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

.mail2 {
    position: absolute;
    height: 20px;
    width: 20px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.box {
    border-radius: 20px;
    border: 3px solid #e4dded;
    box-sizing: border-box;
    width: 350px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    grid-template-columns: 90% 10%;
    padding: 0.5% 5%;
}
.name {
    position: absolute;
    width: 25px;
    height: 25px;
}
.age {
    position: absolute;
    width: 20px;
    height: 20px;
}
.height-icon {
    position: absolute;
    height: 25px;
    width: 25px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.weight {
    position: absolute;
    width: 25px;
    height: 25px;
}
.login-box {
    position: absolute;
    top: calc(50% - 264px);
    left: calc(50% - 439px);
    width: 878.4px;
    height: 540px;
}


