.container {
  width: 100%;
  height: 100%;
}

.demo-login {
    width: 100%;
    position: relative;
    background-color: #000000;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 38px;
    color: #e4dded;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    background: url(../icon/mapBackground.png) no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.mapBackground {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.demo-login-child {
  position: absolute;
  top: calc(50% - 284px);
  left: calc(50% - 245px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  background-color: rgba(228, 221, 237, 0.02);
  border: 3.5px solid #e4dded;
  box-sizing: border-box;
  width: 489px;
  height: 569px;
}

.welcome-back {
  height: 74px;
  width: 80%;
  font-size: 45px;
  position: absolute;
  top: 100px;
  left: calc(50% - 195px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-input {
  position: absolute;
  top: 170px;
  left: calc(50% - 175px);
  border-radius: 20px;
  border: 3px solid #e4dded;
  box-sizing: border-box;
  width: 350px;
  height: 55px;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  align-content: center;
  padding: 0% 5%;
}
.password-input {
  position: absolute;
  top: 230px;
  left: calc(50% - 175px);
  border-radius: 20px;
  border: 3px solid #e4dded;
  box-sizing: border-box;
  width: 350px;
  height: 55px;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  align-content: center;
  padding: 0% 5%;
  
}
.lock {
  width: 30px;
  height: 30px;
  overflow: hidden;
  float: right;
}
.mail {
  width: 20px;
  height: 100%;
  float: right;
  padding: 0 5px 3px 5px ;
}

.input{
  float: left;
  border: none; 
  background-color: transparent;
  outline: none;
  color: #e4dded;
  width: 100%;
  height: 100%;
}

.signin-button {
  position: absolute;
  top: 300px;
  left: calc(50% - 175px);
  width: 350px;
  height: 55px;
  font-size: 20px;
  color: #080204;
  background-color: #e4dded;
  border-radius: 20px;
  border: none;
  transition: 400ms;
  cursor: pointer;
}
.signin-button:hover {
  transition: 400ms;
  color: #e4dded;
  background-color: #0031b7; /* Màu nền khi hover */
  transform: scale(1.03); /*Phóng to nhẹ khi hover*/
  border: none;
  /* font-size: 20.5px; */
}

.forgot-password {
  position: absolute;
  top: 360px;
  left: 150px;
  font-size: 15px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50px;
  cursor: pointer;
}


.dont-have-an-container1 {
  width: 100%;
}
.dont-have-account {
  height: 100px;
  width: 80%;
}
.register {
  color: #c7ddff;
  position: absolute;
  top: 390px;
  left: 150px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50px;
  cursor: pointer;
  font-size: 15px;
}